.box{
    width: 100%;
    height: 100%;
}
.homePage{
    width: 750px;
    height: 1624px;
    background: url('../../assets/homepage.png') no-repeat top left / 100% 100%;
    position: relative;
}
.rule{
    width: 98px;
    height: 46px;
    background: url('../../assets/icon_rules.png') no-repeat top left / 100% 100%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 440px;
}
.task{
    width: 211px;
    height: 150px;
    background: url('../../assets/tip.png') no-repeat top left / 100% 100%;
    display: inline-block;
    position: fixed;
    right: 36px;
    top: 1133px;
}
.go_btn{
    width: 362px;
    height: 135px;
    background: url('../../assets/btn_2.png') no-repeat top left / 100% 100%;
    display: inline-block;
    position: fixed;
    // right: 36px;
    bottom: 0px;
    left: 50%;
    transform: translatex(-50%);
}
.img-dialog{
    width: 300px;
    height: 300px;
}