*::-webkit-scrollbar {
	display: none;
}
* {
	scrollbar-width: none;
}
* {
	-ms-overflow-style: none;
}


.box{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top:0px;
}

.bg {
	overflow: hidden;
	width: 100vw;
	height: 1624px;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	// max-width: 375px;
	// height: 812px;
  }
  
  .rand{
	background: url('@/assets/road.png') no-repeat center;
	  background-size: 750px 1280px;
	width: 750px;
	height: 1280px;
	position: absolute;
	bottom: 0px;
  }

  .game-box {
    width: calc(750px);
	background-color: rgba($color: #000000, $alpha: .5);
	height: 1334px;
	position: absolute;
	bottom: 0px;
    canvas {
		position: absolute;
		top: 0px;
		left: 0px;
      width: 100%;
    }
  }