*::-webkit-scrollbar {
	display: none;
}
* {
	scrollbar-width: none;
}
* {
	-ms-overflow-style: none;
}

/*for 0 x 769*/
.box {
	overflow: hidden;
	width: 100vw;
	height: 1624px;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	// max-width: 375px;
	// height: 812px;
  }
  
  .rand{
	background: url(../../../assets/road.png) no-repeat center;
	  background-size: 750px 1280px;
	width: 750px;
	height: 1280px;
	position: absolute;
	bottom: 0px;
  }