.large-text2 {
  padding: 0;
  width: 600px;
  border-color: #212226;
  background-color: #212226;
  transform-origin: inherit;
  border-radius: 10px;
}

.n-popover__content {
  padding: 0;
}

/*for 0 x 769*/
.box {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  border-radius: 8px;
  // max-width: 375px;
  // height: 812px;
  background-image: linear-gradient(-57deg, #0048dc 3%, #0781cc 85%) !important;
}

.btn-game {
  // width: 140px;
  cursor: default;
  font-size: 21px;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: #0267a5;
  box-shadow: inset 1px 1px #fff1cd33;
  white-space: nowrap;
  display: block;
  height: 100%;
  padding: 0 100px;
  position: relative;

  .centered-xy {
    align-items: center;
    justify-content: center;
  }

  img {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 11px;
    top: 15px;
  }
}

.top {
  border-radius: 25px;
  height: 50px;
  background-color: #105181;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.line {
  border-radius: 25px;
  width: 96% !important;
  background-color: #105181;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.money {
  background-color: #ffc107 !important;
  color: #343a40 !important;
  width: 240px !important;
  justify-content: center;
  padding: 10px 0;
  // font-size: 12px;
  font-weight: 550;
  margin-right: 2px;
  color: #fff;
  display: flex;
  align-items: center;
}

.shadow {
  position: absolute;
  top: 41px;
  left: 8px;
  z-index: 999;
  will-change: transform;
  transform: translate(0px, 26px);
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #c6d6e0;
  border-color: #082130;
  background: #032e49;
  display: grid;
  border-radius: 18px !important;
  min-width: 10rem;
  padding: 16px 0;

  li {
    text-align: center;
    border: solid 1px rgba(0, 0, 0, .43);
    border-radius: 19px;
    width: 260px;
    font-size: 12px;
    background-color: #094164;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 14px;
    font-weight: bold;
  }

  .clickTab {
    background: #0267a5 !important;
  }
}

.bottomBtns {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  .RANDOM {
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    background-color: #0267a5;
    box-shadow: inset 1px 1px #fff1cd33;
    white-space: nowrap;
    color: #a5caef;
    display: block;
    height: 100%;
    padding: 0 100px;
    line-height: 55px;
  }

  .Auto {
    margin-left: 15px;
    position: relative;
    display: flex;
    color: #fff !important;
    font-size: 15px !important;
    background-color: #013a97 !important;
    box-shadow: none !important;
    border: none !important;

    img {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 16px;
      top: 8px;
    }

    .auto {
      position: relative;
      right: -15px;
    }
  }
}

.mean {
  width: 29px;
  height: 29px;
}

.boox {
  display: flex;
  justify-content: center;
  margin-top: 13vh;

  .game-box {
    width: calc(365px*2);

    canvas {
      width: 90%;
    }
  }
}


.control-box {
  background: rgba(0, 0, 0, .3);
  border-radius: 12px;
  width: 98%;
  height: 290px;
  margin: 21px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .control-center {
    width: 640px;
    height: 100px;
    display: flex
  }
}

.begin-btn {
  width: 500px;
  height: 100px;
  border-radius: 40px;
  background-image: radial-gradient(circle at 50% 50%, #61a503, #2d7500 94%);
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052, inset 1px 1px #fff1cd33;
  border: 2px solid rgba(0, 0, 0, .9);
  margin-left: 20px;
}

.over-btn {
  width: 500px;
  height: 100px;
  border-radius: 40px;
  background-image: radial-gradient(circle at 50% 50%, #ee3f00, #b32b00 94%);
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052, inset 1px 1px #fff1cd33;
  border: 2px solid rgba(0, 0, 0, .9);
  margin-left: 20px;

  .n-button__content {
    display: block;
  }

  .over-btn-text {
    display: block;
  }

  .over-btn-text2 {
    min-width: 96px;
    height: 30px;
    background: rgba(0, 0, 0, .41);
    border-radius: 8px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 6px;
  }
}

.begin-icon {
  position: relative;
  left: -150px;
}

.again-btn {
  width: 100px;
  height: 100px;
  background-image: radial-gradient(circle at 50% 50%, #0576dc, #025cd5 68%);
  text-shadow: 0 1px 0 rgb(0 0 0 / 50%);
  box-shadow: 3px 3px 6px #020b1a80, inset -1px -1px #00000052, inset 1px 1px #fff1cd33;
  border: 2px solid rgba(0, 0, 0, .9);
}

.control-centerUnder {
  width: 600px;
  border: 1px solid rgba(0, 0, 0, .53);
  box-shadow: inset 1px 1px #fff1cd33;
  border-radius: 48px;
  margin-top: 30px;
  height: 91px;
  display: flex;
  align-items: center;
  font-size: 12px;
  background-color: #0267a5 !important;

  Input {
    border: none;
    background-color: rgb(1, 72, 115);
    width: 260px;
    height: 40px;
    color: #fff;
    border-radius: 6.4vw;
    margin: 0 33px 7px 24px;
  }

  img {
    width: 53px;
    height: 57px;
    margin-top: 8px;
  }
}

.round {
  border-radius: 50%;
  width: 80px;
  height: 70px;
  font-size: 40px;
  color: #fff;
  background-color: #0267a5 !important;
  border: 1px solid rgba(0, 0, 0, .53);
  box-shadow: inset 1px 1px #fff1cd33;
  margin-right: 14px;
}

.roundSmall {
  width: 70px !important;
  height: 60px !important;
}

.bottomPart {
  position: relative;
  display: flex;
  color: #fff;

  p {
    display: inline-block;
    color: #ffffff80 !important
  }

  .wen {
    width: 40px;
    height: 40px;
    margin: 5px 0 0 17px;
  }
}


.gray {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popModule {
  overflow-y: auto;
  max-height: 90vh;
  overflow-x: hidden;
  border-radius: 22px;
  // background-color: #2e2e2e;
  background: #212226;
  border-color: #1b1b1b;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 95%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  outline: 0;
  color: #fff;
}

.title {
  width: 86%;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 10px 15px;

  img {
    width: 33px;
    height: 33px;
  }
}

.radios {
  height: auto;
  width: 93%;
  margin: 22px auto 0 auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2vw;
  padding-bottom: 17px;

  p {
    text-align: center;
  }

  .onePart {
    width: 300px;
    border-radius: 10px;
    height: 67px;
    // background-color: #555961;
    background-color: #393b3f;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .n-radio__label {
    color: #fff !important;
  }

  .n-space {
    justify-content: center !important;
  }
}

.switchs {
  width: 93%;
  height: auto;
  background-color: #393b3f;
  border-radius: 18px;
  margin: 0 auto;

  .roundSwitch {
    width: 30px;
    height: 30px;
    margin: 9px;
    // background: #555961
  }

  .n-switch {
    margin-left: 20px;
  }

  p {
    width: 300px;
    text-align: start;
    margin-left: 10px;
  }
}

.more {
  height: 65px;
  width: 250px;
  border-radius: 3.733333vw;
  cursor: pointer;
  background-color: #393b3f;
  display: flex;
  align-items: center;
  margin: 20px auto 20px auto;
  justify-content: center;
}

.autoBtn {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0;
}

.long {
  width: 660px !important;
}

.boxNumber {
  width: 250px;
  height: 49px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 55px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sRound {
  padding: 0px 18px;
  border-radius: 50%;
  background-color: #393b3f;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 2px;
}

.left {
  left: 6px;
}

.right {
  right: 6px;
}

.lTitle {
  width: 95%;
  margin: 0 auto;
  padding: 9px 0;
  background: #555961;
  border-radius: 8px;
}

.disabled{
  pointer-events: none; 
}

.large-text2{
  padding: 20px;
  .text-truncate{
    color: #fff;
  }
  .meau-item{
    background-color: #0003;
    border-color: #082130;
    color: #c6d6e0;
    height: 38px;
    line-height: 38px;
    justify-content: space-between!important;
    display: flex!important;
    
  }
  .meau-text{
    display: flex;
  }
  .ml-3icon{
    display: inline-block;
    width: 36px;
    height: 30px;
    margin-top: 1px;
    background-image: url('https://turbo.spribegaming.com/icon-volume.51f0459605884b08.svg');
    margin: 8px 8px 4px 10px;
  }
  .ml-2{
    line-height: 45px;
  }
}


.shadow2 {
  position: absolute;
  top: -271px;
  left: 148px;
  z-index: 999;
  will-change: transform;
  transform: translate(0px, 26px);
  height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
  color: #c6d6e0;
  border-color: #082130;
  background: #032e49;
  display: grid;
  grid-column:span 2;
  grid-template-columns: 280px 280px;	
  border-radius: 18px !important;
  min-width: 10rem;
  padding: 16px 0;

  li {
    text-align: center;
    border: solid 1px rgba(0, 0, 0, .43);
    border-radius: 19px;
    width: 260px;
    font-size: 12px;
    background-color: #094164;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 14px;
    font-weight: bold;
  }

  .clickTab {
    background: #0267a5 !important;
  }
}

.item1{
  grid-column: 1 / 3;
}